<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
    <title>IMPACT-IN RSE</title>
</head>
<body>
    <section class="header">
        <a href="#" class="logo"> <img src="{{ url_for('static', filename='file/Vsh.png') }}" ></a>
        <div id="menu-btn" class="fas fa-bars"></div>
    </section>

    <section class="Affiche">
        <img src="{{ url_for('static', filename='file/CONTENU IMPACT-IN RSE 3.jpg') }}" alt="">
        <embed src="https://firebasestorage.googleapis.com/v0/b/impact-in-rse.appspot.com/o/Bulletin-inscription%20Impact-In-RSE-Ed3-2022.pdf?alt=media&token=48cffce9-ab57-440a-bbec-6146e905d042" width=100% height="1000">
    </section>
</body>
</html>